<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>File Upload</title>
</head>
<body>
    <div class="info">
        <h1>RNA ISAS</h1>
        <p>Upload a CSV, TSV, or other supported formats.</p>
    </div>
    <br><br>
    <div class="container">    
        <form id="upload-form" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" name="file" id="file" required>
                <input type="number" name="count" placeholder="Filter Count" min="-1">
            </div>
            <input type="submit" value="Upload">
        </form>
    </div>
    <br><br>
    <div class="container">
        <h2>Top 20 Entries</h2>
        <table id="result-table">
            <thead>
                <tr>
                    <th>Gene ID</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>        
    </div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            let formData = new FormData();
            formData.append('file', document.getElementById('file').files[0]);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    let tableBody = document.querySelector('#result-table tbody');
                    tableBody.innerHTML = "";  // Clear previous results

                    data.top_data.forEach(row => {
                        let tr = document.createElement('tr');
                        tr.innerHTML = `<td>${row.gene_id || 'N/A'}</td><td>${row.count || 'N/A'}</td>`;
                        tableBody.appendChild(tr);
                    });
                }
            })
            .catch(error => console.error('Error:', error));
        });

    </script>
</body>
</html>
